<div data-job="{{jobName}}" class="mdl-card mdl-shadow--2dp">
  <p>Job Name: {{jobName}}</p>
  <p>Due Date: {{dueDate}}</p>
  <p>Step: {{step}}</p>


</div>

<div class="mdl-card mdl-shadow--2dp">
  <div class="time">0</div>
  <button class="mdl-button mdl-js-button mdl-button--raised tBtn">
    Start
  </button>
</div>

<form method="POST">
  <input class="hidden" name="time">
  <input class="mdl-button mdl-js-button mdl-button--raised" type="submit" value="Save Time">
</form>


<script>
var interval;
var state = 0;
var datetime = 0;


$(".tBtn").click(function(){
  var $this = $(this);
  if(state == 0)
  {
    jobStart();
  } else {
    jobStop();
  }
});

var jobStart = function(){
  // check to see if the timer has already been started, if not, create a timestamp
  if(($(".time").html() * 1) == 0)datetime = Date.now();
  interval = setInterval(function(){
    var timer = $(".time").html() * 1;
    timer++;
    $(".time").html(timer);
  }, 1000)
  state = 1;
  $(".tBtn").html("Stop")
};

var jobStop = function(){
  clearInterval(interval);
  state = 0;
  $(".tBtn").html("Start");
}

</script>
